@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 24px;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 1em;
  /* 24px */
  line-height: 1.21em;
  /* 29px */
  font-weight: 400;
  font-style: normal;
  color: #000;
  background-color: #fff;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
}

.content {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 1em;
}

.container--wide {
  max-width: 1400px;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.indent-0 {
  margin: 0;
  padding: 0;
  list-style: none;
}

.bold {
  font-weight: 600;
}

a {
  text-decoration: none;
  outline: transparent;
  cursor: pointer;
}

svg path {
  fill: inherit;
  stroke: inherit;
}

.btn {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1.05em 2.17rem;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  /* 22px */
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: #460D09;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F42C2B), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(top, #F42C2B 0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(180deg, #F42C2B 0%, rgba(0, 0, 0, 0) 100%);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #921919;
}

.btn:focus {
  -webkit-box-shadow: 0 0 5px 4px #e65554;
  box-shadow: 0 0 5px 4px #e65554;
}

.btn:active {
  -webkit-box-shadow: inset 0 0 6px 2px #2e2e2e;
  box-shadow: inset 0 0 6px 2px #2e2e2e;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5em;
  /* 36px */
  line-height: 1.222;
  /* 44px; */
  color: #140202;
  text-align: center;
}

.pros {
  background-repeat: no-repeat;
}

.pros__item {
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
  color: #fff;
  font-weight: 600;
}

.pros__check {
  position: relative;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 3.92em;
  /* 94px */
  height: 3.085em;
  /* 74px */
  background-image: url(../img/icons/rectangle-for-check.png);
  background-repeat: no-repeat;
}

.pros__check::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 9px;
  width: 2em;
  /* 48px */
  height: 1.73em;
  /* 41.47px */
  background-image: url(../img/icons/check.svg);
  background-repeat: no-repeat;
}

.header__inner {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1.25em 4.12em;
  text-align: center;
}

.header__text {
  max-width: 61%;
  margin: 0;
  font-weight: 600;
}

.form {
  max-width: 356px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1.25em;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 12px rgba(136, 136, 136, 0.25);
  box-shadow: 0px 4px 12px rgba(136, 136, 136, 0.25);
  border-radius: 15px;
}

.form__heading {
  margin: 0;
  font-size: 18px;
  line-height: 1.223;
  /* 22px */
  text-align: center;
}

.form__heading--bold {
  font-weight: 600;
}

.form__timer {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 7px;
  margin-bottom: 8px;
}

.form__text {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  /* 15px */
}

.form__timer-block {
  margin-right: 27px;
}

.form__timer-block:last-child {
  margin-right: 0;
}

.form__timer-block:last-child .form__timer-num::after {
  display: none;
}

.form__timer-num {
  position: relative;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5em 0.96rem;
  cursor: auto;
}

.form__timer-num::after {
  content: ":";
  position: absolute;
  right: -15px;
  color: #000;
}

.form__timer-text {
  display: block;
  margin-top: 7px;
  text-align: center;
}

.form__label {
  display: block;
  margin-bottom: 5px;
  font-weight: 400;
}

.form__input {
  display: block;
  width: 100%;
  margin-bottom: 23px;
  padding: 0.53em 0.833em;
  font-size: 18px;
  line-height: 1.223;
  /* 22px */
  background-color: #eaeaec;
  border: none;
  border-radius: 10px;
  outline: transparent;
  -webkit-transition: background-color 0.3s, -webkit-box-shadow 0.5s;
  transition: background-color 0.3s, -webkit-box-shadow 0.5s;
  -o-transition: background-color 0.3s, box-shadow 0.5s;
  transition: background-color 0.3s, box-shadow 0.5s;
  transition: background-color 0.3s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

.form__input::-webkit-input-placeholder {
  color: #bebebe;
}

.form__input::-moz-placeholder {
  color: #bebebe;
}

.form__input:-ms-input-placeholder {
  color: #bebebe;
}

.form__input::-ms-input-placeholder {
  color: #bebebe;
}

.form__input::placeholder {
  color: #bebebe;
}

.form__input:hover {
  -webkit-box-shadow: 0 0 3px 5px #eaeaec;
  box-shadow: 0 0 3px 5px #eaeaec;
}

.form__input:focus {
  background-color: #e2e2e5;
}

.form__btn {
  margin: 0 14px 5px;
  padding: 0.87em 1.2em;
  white-space: normal;
}

.form__text-isleft {
  max-width: 75%;
  font-weight: 400;
}

.info__title {
  max-width: 60%;
  margin: 0 auto 1.44em;
  /* 51.84px */
}

.info__inner {
  position: relative;
  height: 365px;
}

.info__content-wrapper {
  height: inherit;
}

.info__content {
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 45%;
  padding: 1.8em 0 2.52em;
  /* 43.2px 0 60.48px */
  color: #140202;
}

.info__text {
  margin-top: 0;
  margin-bottom: 1.2em;
  /* 28.8px */
}

.info__text:last-child {
  margin-bottom: 0;
}

.info__bg {
  --color: #F8C67D;
  --deg: 90deg;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 48%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--deg)), color-stop(2%, var(--color)), color-stop(32%, rgba(58, 58, 58, 0))), var(--bg-url);
  background-image: -o-linear-gradient(var(--deg), var(--color) 2%, rgba(58, 58, 58, 0) 32%), var(--bg-url);
  background-image: linear-gradient(var(--deg), var(--color) 2%, rgba(58, 58, 58, 0) 32%), var(--bg-url);
  background-repeat: no-repeat;
  background-position: 99% 0%, center 55%;
  background-size: cover;
}

.footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: 35px 0;
}

.hero {
  position: relative;
  padding: 0.835em 0 1.125em;
  /* 20px 0  27px */
  background-image: url(../img/bg/hero.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  z-index: 0;
}

.hero::after {
  --rgba-opacity-1: 100%;
  --rgba-opacity-2: 100%;
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  z-index: -1;
  background-image: -o-linear-gradient(282.67deg, #1D0707 10.84%, rgba(0, 0, 0, 0) 29.25%), -o-linear-gradient(15.56deg, rgba(29, 7, 7, var(--rgba-opacity-1)) 12.54%, rgba(0, 0, 0, 0) 40.09%), -o-linear-gradient(0.42deg, rgba(29, 7, 7, var(--rgba-opacity-2)) 1.37%, rgba(0, 0, 0, 0) 30.77%);
  background-image: linear-gradient(167.33deg, #1D0707 10.84%, rgba(0, 0, 0, 0) 29.25%), linear-gradient(74.44deg, rgba(29, 7, 7, var(--rgba-opacity-1)) 12.54%, rgba(0, 0, 0, 0) 40.09%), linear-gradient(89.58deg, rgba(29, 7, 7, var(--rgba-opacity-2)) 1.37%, rgba(0, 0, 0, 0) 30.77%);
}

.hero__inner {
  z-index: 1;
}

.hero__title {
  max-width: 80%;
  margin-top: 0;
  margin-bottom: 0.9rem;
  font-weight: 700;
  font-size: 2.67em;
  /* 64px */
  line-height: 1.218;
  /* 78px */
  color: #fff;
}

.hero__title--beige {
  color: #F8C67D;
}

.hero__heading {
  max-width: 50%;
  margin-top: 0;
  margin-bottom: 3.34rem;
  font-size: 1.5em;
  /* 36px */
  line-height: 1.22;
  /* 44px */
  color: #fff;
}

.hero__bottom {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.hero__pros {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 20px;
}

.hero__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 15px;
}

.hero__list-item {
  max-width: 11.8em;
  /* 280px; */
  margin-bottom: 1.1em;
}

.hero__list-item--wide {
  max-width: 13.6em;
}

.hero__list-item:nth-child(1) {
  right: -170px;
}

.hero__list-item:nth-child(2) {
  right: -92px;
}

.hero__list-item:nth-child(3) {
  right: -70px;
  margin-bottom: 45px;
}

.hero__list-item:last-child {
  right: -100px;
  margin-bottom: 0;
}

.hero__check {
  margin-left: 25px;
}

.hero__img-wrapper {
  padding-top: 12%;
  padding-left: 84px;
  padding-right: 73px;
  padding-bottom: 120px;
  background-image: url(../img/bg/big-and-small-circles.png);
  background-position: center top;
  background-repeat: no-repeat;
}

.hero__img {
  max-width: 329px;
  width: 100%;
  margin-left: 27px;
}

.previews {
  padding-bottom: 1.46em;
}

.previews__inner {
  padding: 0.875em 1.42em;
  /* 21px 34px */
  background-color: #420707;
  border-radius: 15px;
}

.previews__content {
  padding: 1.42em 1.17em;
  /* 34px 28px */
  border: 2px solid #fff;
  border-radius: 15px;
}

.previews__title {
  max-width: 40%;
  margin: 0 auto 0.8em;
  font-size: inherit;
  font-weight: inherit;
  color: #fff;
  text-align: center;
}

.previews__list {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.previews__item {
  --margins: 70px;
  position: relative;
  max-width: calc(100% / 3 - (var(--margins) / 3));
  width: 100%;
  padding-top: 126px;
  /* 126px */
  padding-bottom: 12px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 16px 1px rgba(255, 255, 255, 0.46);
  box-shadow: 0 0 16px 1px rgba(255, 255, 255, 0.46);
  z-index: 0;
}

.previews__item::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: -o-linear-gradient(91.71deg, #FFFFFF 32.56%, rgba(255, 255, 255, 0) 76.03%);
  background-image: linear-gradient(358.29deg, #FFFFFF 32.56%, rgba(255, 255, 255, 0) 76.03%);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  z-index: -1;
}

.previews__item-text {
  display: block;
  max-width: 87%;
  margin: 0 auto;
  font-size: 24px;
  line-height: 1.21;
  font-weight: 700;
  color: #140202;
  text-transform: uppercase;
}

.previews__item-text--small {
  font-size: 0.667em;
  /*  16px */
}

.info-harem {
  padding: 1.667em 0;
  /* 40px */
  background-image: url(../img/bg/deco.png);
  background-repeat: no-repeat;
  background-position: -13% 0%;
}

.info-harem__bg {
  --bg-url: url(../img/bg/bg-2.jpg);
  --color: #fff;
}

.info-doctors {
  background-color: #F8C67D;
}

.info-doctors__bg {
  --bg-url: url(../img/bg/scientists.jpg);
}

.methods {
  padding: 0.75em 0 1.67em;
}

.methods__top {
  margin-bottom: 0.75em;
}

.methods__text {
  text-align: center;
}

.methods__top-img {
  width: 5.83em;
  /* 140px */
  margin: 0 70px;
}

.methods__inner {
  padding: 0.875em 1.42em;
  /* 21px 34px */
  background-color: #420707;
  border-radius: 15px;
}

.methods__content {
  padding: 1.42em 1.17em;
  /* 34px 28px */
  border: 2px solid #fff;
  border-radius: 15px;
}

.methods__title {
  max-width: 16em;
  margin: 0 auto 0.6em;
  font-weight: 800;
  color: #fff;
}

.methods__title--bald {
  font-weight: 900;
}

.methods__pros {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: url(../img/bg/big-circles__cr.png);
  background-position: center;
}

.methods__list--left {
  margin-top: 37px;
}

.methods__list--left .methods__item:first-child {
  right: -65px;
  margin-bottom: 85px;
}

.methods__list--left .methods__item:nth-child(2) {
  right: 10px;
  margin-bottom: 92px;
}

.methods__list--left .methods__item:last-child {
  right: -105px;
}

.methods__list--right {
  margin-top: 50px;
}

.methods__list--right .methods__item {
  margin-left: 0;
}

.methods__list--right .methods__item:first-child {
  right: 78px;
  margin-bottom: 107px;
}

.methods__list--right .methods__item:nth-child(2) {
  margin-bottom: 105px;
}

.methods__list--right .methods__item:last-child {
  right: 122px;
}

.methods__list--right .pros__check {
  margin-right: 1.46em;
  margin-left: 0;
}

.methods__item {
  max-width: 13em;
  /* 312px; */
}

.methods__item--wide {
  max-width: 15em;
  /* 360px; */
}

.methods__img {
  max-width: 15em;
  margin-top: 6.54em;
  margin-right: 22px;
}

.info-official {
  background-color: #F8C67D;
}

.info-official__bg {
  --bg-url: url(../img/bg/official-bg.jpg);
  --deg: 270deg;
  right: 48%;
  left: 0;
}

.info-official__content {
  margin-left: auto;
}

.ingredients {
  --deco-bg-pos-y: 26%;
  padding: 2.25em 0 1.9em;
  background-image: url(../img/bg/order-bg.png), url(../img/bg/deco.png), url(../img/bg/ingr-bg.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 0%, var(--deco-bg-pos-y), 100%;
  background-size: auto, 26%, 100%;
}

.ingredients__top {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 45px;
}

.ingredients__top-content {
  max-width: 17.5em;
  margin-left: 68px;
  text-align: center;
}

.ingredients__top-text {
  font-weight: 600;
  color: #fff;
}

.ingredients__top-img {
  width: 170px;
  margin-top: 1.83em;
}

.ingredients__mid-text {
  position: relative;
  max-width: 22.6em;
  margin: 0 auto;
  color: #140202;
  text-align: center;
}

.ingredients__mid-text::after {
  --width: 6.6em;
  /* 160px */
  content: "";
  position: absolute;
  right: 116%;
  top: -24px;
  width: var(--width);
  height: 100px;
  background-image: url(../img/two-tabs.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.ingredients__mid-text--bold {
  font-weight: 900;
}

.ingredients__list {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 84px;
  padding: 0 5px;
}

.ingredients__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  max-width: calc(100% / 2 - 10px);
  margin-bottom: 24px;
  padding: 1.25em 1.5em 1.25em 2.25em;
  /* 30px 36px 30px 54px */
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.ingredients__item::after {
  content: "";
  position: absolute;
  height: 8.67em;
  /* 208px */
  background-repeat: no-repeat;
  background-size: contain;
}

.ingredients__item--zhen-shen::after {
  top: -60px;
  right: -26px;
  width: 10em;
  /* 260px */
  background-image: url(../img/ingredients/zhen-shen.png);
}

.ingredients__item--muir::after {
  top: -38px;
  right: -20px;
  width: 12em;
  /* 288px */
  background-image: url(../img/ingredients/herbs-raw-muira-puama.png);
}

.ingredients__item--evrikoma::after {
  top: -30px;
  right: -52px;
  width: 12em;
  /* 290px */
  background-image: url(../img/ingredients/evrikoma.png);
}

.ingredients__item--asaya::after {
  top: -50px;
  right: -13px;
  width: 9em;
  /* 217px */
  background-image: url(../img/ingredients/acai-berry.png);
}

.ingredients__item--asaya .ingredients__item-title {
  white-space: pre-line;
}

.ingredients__item-title {
  display: inline-block;
  max-width: 70%;
  font-weight: 700;
  font-size: 1.28em;
  /* 30px */
  line-height: 1.23;
  /* 37px */
  text-transform: uppercase;
  color: #E02927;
}

.ingredients__item-descr {
  margin-top: 0.7em;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 0.75em;
  /* 18px */
  line-height: 1.22;
  /* 22px */
  color: #212121;
}

.ingredients .form {
  margin-right: 9em;
  margin-bottom: 0;
}

@media (max-width: 1200px) {
  html {
    font-size: 18px;
  }

  .pros__check {
    background-size: contain;
  }

  .pros__check::after {
    right: 13px;
    top: 1px;
    background-size: contain;
  }

  .form__heading {
    margin-bottom: 10px;
  }

  .hero::after {
    --rgba-opacity-1: 27%;
    --rgba-opacity-2: 78%;
  }

  .hero__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .hero .form {
    margin: 0 auto;
  }

  .previews__item {
    --margins: 60px;
  }

  .methods__pros {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    background-size: 21em;
  }

  .methods__list {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }

  .methods__list--left .methods__item:nth-child(2) {
    right: -40px;
  }

  .methods__list--right {
    margin-top: 36px;
  }

  .methods__img {
    margin-left: 55px;
    margin-right: 55px;
  }

  .ingredients {
    --deco-bg-pos-y: 37%;
  }

  .ingredients .form {
    margin-right: 0;
  }
}

@media (max-width: 900px) {
  .info__title {
    max-width: 100%;
  }

  .info__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    height: unset;
  }

  .info__content {
    max-width: 100%;
  }

  .info__bg {
    position: relative;
    left: 0;
    height: 366px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(1%, var(--color)), color-stop(45%, rgba(58, 58, 58, 0))), var(--bg-url);
    background-image: -o-linear-gradient(bottom, var(--color) 1%, rgba(58, 58, 58, 0) 45%), var(--bg-url);
    background-image: linear-gradient(0deg, var(--color) 1%, rgba(58, 58, 58, 0) 45%), var(--bg-url);
  }

  .hero__title {
    max-width: 100%;
  }

  .hero__heading {
    max-width: 100%;
  }

  .hero__list {
    margin-left: -84px;
  }

  .hero__img-wrapper {
    background-size: contain;
  }

  .previews__title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .previews__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .previews__item {
    max-width: 80%;
    margin-bottom: 20px;
    background-position-y: 20%;
  }

  .info-harem {
    background-image: none;
  }

  .methods__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .methods__top-img {
    display: block;
    margin: 0 auto;
  }

  .methods__pros {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 30px;
    background-position-y: 60%;
  }

  .methods__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }

  .methods__list--left {
    margin-top: 0;
  }

  .methods__list--left .methods__item:first-child {
    top: 70px;
  }

  .methods__list--left .methods__item:last-child {
    top: 60px;
  }

  .methods__list--left .pros__check {
    margin-top: 20px;
  }

  .methods__list--right {
    margin-top: 0;
  }

  .methods__list--right .methods__item:first-child {
    top: -60px;
  }

  .methods__list--right .methods__item:nth-child(2) {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    top: -60px;
  }

  .methods__list--right .methods__item:last-child {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    top: 0;
  }

  .methods__list--right .pros__check {
    margin-bottom: 20px;
    margin-right: 0;
  }

  .methods__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    right: 0 !important;
    max-width: 8.5em;
    /* 100px; */
    margin-bottom: 0 !important;
    margin-left: 0;
    text-align: center;
  }

  .methods__item--wide {
    max-width: 7.1em;
    /* 100px; */
  }

  .methods__img {
    display: block;
    margin: 4em auto 4em;
  }

  .methods__img {
    width: 160px;
  }

  .ingredients {
    --deco-bg-pos-y: 53%;
    background-position-x: center, -3%, center;
  }

  .ingredients__mid-text {
    padding-top: 80px;
  }

  .ingredients__mid-text::after {
    right: calc(50% - (var(--width) / 2));
    padding-top: 80px;
  }

  .ingredients__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .ingredients__item {
    max-width: 80%;
  }

  .ingredients__item--muir .ingredients__item-title {
    max-width: 65%;
  }

  .ingredients__item--muir .ingredients__item-descr {
    max-width: 75%;
  }

  .ingredients__item-descr {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 14px;
  }

  .btn {
    font-size: 16px;
  }

  .title {
    font-size: 1.28em;
  }

  .pros__item {
    font-size: 13px;
  }

  .pros__check {
    width: 47px;
    height: 35px;
  }

  .pros__check::after {
    right: 11px;
    width: 23px;
    height: 20px;
  }

  .header__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-right: 1em;
    padding-left: 1em;
  }

  .header__text {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .header__btn {
    width: 100%;
  }

  .form__heading {
    font-size: 14px;
  }

  .form__input {
    font-size: 16px;
  }

  .hero {
    background-position-x: 48%;
    background-size: 260%;
  }

  .hero::after {
    background-image: -o-linear-gradient(327deg, rgba(29, 7, 7, 0.988) 12.84%, rgba(0, 0, 0, 0) 34.25%);
    background-image: linear-gradient(123deg, rgba(29, 7, 7, 0.988) 12.84%, rgba(0, 0, 0, 0) 34.25%);
  }

  .hero__title {
    font-size: 1.7em;
  }

  .hero__heading {
    font-size: 0.86em;
  }

  .hero__pros {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    margin-top: 0;
  }

  .hero__list {
    margin-bottom: 20px;
  }

  .hero__list-item {
    max-width: 124px;
  }

  .hero__list-item:nth-child(1) {
    right: -90px;
  }

  .hero__list-item:nth-child(3) {
    margin-bottom: 2em;
  }

  .hero__check {
    margin-left: 5px;
  }

  .hero__img-wrapper {
    padding-left: 47px;
    padding-right: 7px;
    padding-top: 80px;
    background-size: 111%;
    background-position: -55% 43%;
  }

  .hero__img {
    max-width: 140px;
  }

  .previews__title {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .previews__item {
    max-width: 100%;
  }

  .previews__item-text {
    font-size: 18px;
  }

  .methods__text {
    font-size: 12px;
  }

  .methods__inner {
    padding-right: 0.5em;
    padding-left: 0.5em;
  }

  .methods__content {
    padding: 0;
    border: none;
  }

  .ingredients {
    --deco-bg-pos-y: 49%;
    background-size: 170%, 62%, 100%;
    background-position-x: center, -60%, center;
  }

  .ingredients__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .ingredients__top-content {
    margin-left: 0;
    margin-bottom: 50px;
  }

  .ingredients__top-text {
    margin-top: 0;
    margin-bottom: 0;
  }

  .ingredients__mid-text {
    padding-top: 45px;
  }

  .ingredients__list {
    margin-top: 40px;
  }

  .ingredients__item {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    max-width: 100%;
    height: 228px;
  }

  .ingredients__item::after {
    width: 10.7em;
  }

  .ingredients__item--zhen-shen::after {
    top: -42px;
    right: -10px;
  }

  .ingredients__item--muir .ingredients__item-descr {
    max-width: 100%;
  }

  .ingredients__item--muir::after {
    top: -3px;
    right: -10px;
  }

  .ingredients__item--evrikoma::after {
    top: -16px;
    right: -12px;
  }

  .ingredients__item--asaya::after {
    top: -42px;
    right: -20px;
  }
}
